* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #F2F0EF;
  border: 0;
  padding: 0;
}

header, nav {
  display: block;
}

/*Estilização Navbar*/
.headerSite {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 3rem; /*cima/baixo X esquerdo/direito*/
  background-color: #92488F;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logoSite {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  margin-left: 80px;
}

.logoSite a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #F2F0EF;
}

.logoImagem {
  height: 70px;
  width: auto;
}

#nomeEcommerce {
  font-size: 40px; 
  font-weight: bold;
  color: #F2F0EF;
  text-decoration: none;
}

.navTop ul,
.navUsuario ul {
  list-style: none; 
  display: flex;
  gap: 4rem; /*espaçamento*/
  margin-right: 80px;
}

.navUsuario a {
  list-style: none; 
  display: flex;
  gap: 4rem; /*espaçamento*/
}

.navTop li a{
  text-decoration: none;
  color: #F2F0EF;
  font-size: 38;
  font-weight: 500;
  transition: color 0.3s;
  display: inline-block;
  transition: color .5s;
}

.navTop a:hover,
.navTop a:focus {
  outline: none;
  transform: scale(1.10);
  color: #30072F;
}

.navUsuario li a {
  color: #F2F0EF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s, color 0.3s;
  text-decoration: none;
}

.navIcones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.30rem;
}

.navUsuario a:hover,
.navUsuario a:focus {
  transform: scale(1.06);
  outline: none;
}

.icones {
  height: 28px;
  width: 28px;
}

.legendaIcones {
  font-size: 20px;
  font-weight: 500;
}

/*Estilização segunda Navbar*/
.navBottom {
  background-color: #F2F0EF;
  padding: 12px 22px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  height: 80px;
  margin-top: 10px;
}

.navBottom ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 6rem;
  padding: 0 20px;
  justify-content: flex-end;
  margin-right: 80px;
}

.navBottom li a {
  text-decoration: none;
  color: #7c377a;
  font-size: 36;
  font-weight: 500;
  transition: color 0.3s;
  display: inline-block;
  transition: color .5s;
}

.navLogo {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 6rem;
  padding: 0 20px;
  margin-left : 80px;
}

.navBottom a:hover,
.navBottom a:focus {
  outline: none;
  transform: scale(1.10);
  color: #F56511;
}

/*Estilização Banner*/
.containerBanner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.banner {
  flex: 0 0 100%;
  margin-top: 18px;
}

.imagemBanner {
  width: 100%;
  height: 100%;
}

.divisoresPartes {
  border-color: #63496f;
  opacity: 0.1;
}

/*Categoria dos Produtos*/
.containerCategorias {
  width: 100%;
  height: 370px;
  background-color: #E1E0E0;
  padding: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#tituloCategorias {
  color: #30072F;
  font-size: 30px;
  margin-bottom: 60px;
  text-align: center;
}

.categoriaProdutos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}

.produto {
  background: linear-gradient(to top, #801C7C, #D9D9D9);
  padding: 20px;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.produto img {
  width: 120px; 
  height: auto;
  transition: transform 0.5s ease;
}

.produto:hover img {
  transform: scale(1.18);
}

#imagemSnack {
  width: 210px;
  height: auto;
  transition: transform 0.5s ease;
}

#imagemWhey {
  width: 160px;
  height: auto;
  transition: transform 0.5s ease;
}

.nomeCategoria {
  font-size: 22px;
  font-weight: 600;
  color: #30072F;
  text-align: center;
  margin-top: 30px;
}

.linkCategoria {
  text-decoration: none; 
  color: inherit;       
}

/*Estilização Produtos mais Vendidos*/
.produtosMaisVendidos {
  background-color: #eee;
  width: 100%;
  height: auto;
  padding: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  margin-bottom: 30px;
}

#tituloProdutosVendidos {
  color: #30072F;
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.nomeProdutosVendidos{
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 12px;
}

.containerCarrosselVendidos {
  overflow: hidden;
  margin: 0 6rem;
}

.carrosselMaisVendidos {
  display: flex;
  gap: 1.6rem;
  list-style: none;
  padding: 2rem 0;
  margin: 0;
  animation: moverProdutos 30s infinite;
}

.produtoCard {
  position: relative;
  background-color: #F2F0EF;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  width: 240px;
  transition: transform 0.5s;
  flex: 0 0 auto;
  overflow: hidden;
}

.produtoCard:hover {
  cursor: pointer;
}

.botaoFavoritoCard {
  position: absolute;
  top: 0.8rem;
  right: 0.6rem;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 18px;
  z-index: 5;
}

.botaoFavoritoCard img {
  width: 22px;
  height: 22px;
}

.imagemCard {
  height: 200px;
  width: auto ;
  margin: 1rem auto;
}

.precoProduto {
  font-size: 19px;
  font-weight: 600;
  color: #18530e;
  padding: 6px;
  margin-bottom: 10px;
}

.botaoCarrinho {
  display: block;
  background-color: #92488F;
  color: #F2F0EF;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  padding: 13px;
  margin: 12px auto;
  cursor: pointer;
  width: 80%;
  text-align: center;
  transition: background-color 0.5s ease;
}

.botaoCarrinho:hover {
  background-color: #370b36;
  transform: scale(1.05);
}

.setaVendidos {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  color: #1f1313;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.setaEsquerdaVendidos {
  left: 1.5rem;
}

.setaDireitaVendidos {
  right: 1.5rem;
}

.setaVendidos:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

@keyframes moverProdutos {
  
  0%,
  8.33% {
    transform: translateX(0);
  }
  
  16.66%,
  24.99% {
    transform: translateX(-33.33%);
  }
  
  33.33%,
  41.66% {
    transform: translateX(-66.66%);
  }
  
  50%,
  58.33% {
    transform: translateX(0);
  }
  
  66.66%,
  74.99% {
    transform: translateX(-33.33%);
  }
  
  83.33%,
  91.66% {
    transform: translateX(-66.66%);
  }
  
  100% {
    transform: translateX(0);
  }
}

.retangulo {
  width: 25px;
  height: 4px;
  background-color: #222;
  border-radius: 20%;
  display: inline-block;
  animation: retanguloAtivo 15s infinite;
}

.retangulo:nth-child(1) {
  animation-delay: 0s;
}

.retangulo:nth-child(2) {
  animation-delay: 5s;
}

.retangulo:nth-child(3) {
  animation-delay: 10s;
}

@keyframes retanguloAtivo {
  
  0%,
  33.33% {
    background-color: #bbadff;
  }
  
  33.34%,
  100% {
    background-color: #222;
  }
}

/*Estilização Página Produtos*/
.containerCatalogoProdutos {
  background-color: #eee;
  width: 100%;
  height: auto;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 25px;
  margin-bottom: 10%;
}

.tituloCatalogoProdutos {
  color: #30072F;
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.subtituloCatalogoProdutos {
  color: #000000;
  font-size: 26px;
  margin-bottom: 30px;
  text-align: center;
}

.catalogoProduto {
  margin: 0 100px;
}  

.secaoProdutos {
  display: flex;
  gap: 2.9rem;
  list-style: none;
  padding: 20px;
  margin: 0;
  justify-content: center;
  
}

.produtoCardCatalogo {
  position: relative;
  background-color: #F2F0EF;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  width: 280px;
  transition: transform 0.5s;
  flex: 0 0 auto;
  overflow: hidden;
}

.produtoCardCatalogo:hover {
  cursor: pointer;
  transform: scale(1.02);
  border: 1PX solid #7c377a;
}

.imagemCatalogoCard {
  height: 200px;
  width: auto ;
  margin: 1rem auto;
}

.nomeProdutoCatalogo {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 12px;
}

.botaoEspecificarProduto{
  display: block;
  background-color: #92488F;
  color: #F2F0EF;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  padding: 13px;
  margin: 12px auto;
  cursor: pointer;
  width: 80%;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.5s ease;
}

.botaoEspecificarProduto:hover {
  background-color: #370b36;
  transform: scale(1.05);
}

/*Estilização Página Sobre Nós*/
.empresa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.logo img {
  max-width: 200px;
  height: auto;
}

.info {
  flex: 1;
  text-align: right;
  padding-left: 20px;
  margin: 0 80px;
}

.info h1 {
  margin-bottom: 20px;
  color: #004aad;
}

article {
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

@media (max-width: 768px) {
  .empresa {
    flex-direction: column;
    text-align: center;
  }
  
  .info {
    text-align: center;
    padding-left: 0;
  }
}

/*Estilização Rodapé*/
.containerFooter {
  background-color: #893d88;
  color: #fff;
  padding: 40px 60px;
}

.containerFooter section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.colunaFooter {
  flex: 1;
  min-width: 200px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: bold;
}

.iconEcommerceFooter {
  height: 50px;
  width: 50px;
}

.sloganEcommerceFooter {
  margin: 15px 0;
  font-size: 14px;
  color: #eee;
}

.iconRedesSociais {
  width: 24px;
  height: 24px;
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.redesSociaisFooter ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.iconRedeSocialFooter {
  height: 40px;
  width: 40px;
}

.tituloNavegacaoFooter {
  font-size: 24px;
  color: #30072F;
  margin-top: 20px;
  padding-bottom: 20px;
}

.linksNavegacaoFooter a{
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.informacoesContato {
  display: block;
  margin: 6px 0;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.fonteContato {
  text-decoration: none;
  font-size: 14px;
  display: block;
  color: #ffffff;
  padding-bottom: 12px;
}

.footerBottom {
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  color: #ddd;
}

.footerBottom a {
  color: #ddd;
  text-decoration: none;
  margin-left: 10px;
  transition: transform .5s;
}

.footerBottom a:hover {
  color: #30072F;
}
