* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0;
    min-height: 100vh;
    background-color: #e7e7e6;
    border: 0;
    padding: 0;
}

header,
nav {
    display: block;
}

main {
    padding: 20px;
    margin-left: 260px;
    background-color: #f5f5f5;
    min-height: 100vh;
}

.iconNutriCore {
    width: 100px;
    height: 100px;
}
/*Página Login Administrador*/
.containerPaginaLogin {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, #410441, #f7e3c8);
}

.containerFormLogin {
    display: flex;
    border-radius: 6px;
    /*border: 1px solid #752074;*/
    max-width: 900px;
    margin: 50px auto;
    overflow: hidden;
    background-color: #f2f0ef;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.formBoxLogin {
    flex: 1;
    padding: 40px 40px;
    width: 700px;
}

.tituloFormLogin {
    color: #30072f;
    font-weight: 700;
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
}

.subtitleFormLogin {
    text-align: left;
    color: #666;
    font-size: 18px;
    padding-top: 8px;
    text-align: center;
}

.formLogin {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.campoInputLogin {
    padding: 12px;
    border: 1.02px solid #370b36;
    background-color: #f2f0ef;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    box-shadow: 0 2px 2px rgba(117, 32, 116, 0.3);
}

.campoInputLogin:focus {
    outline: none;
    border-color: #30072f;
}

.botaoAcessarLogin {
    margin-top: 16px;
    padding: 12px;
    background-color: #430742;
    color: #f2f0ef;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.5s;
    box-shadow: 0 3px 3px rgba(117, 32, 116, 0.3);
    color: white;
    text-decoration: none;
    text-align: center;
}

.botaoAcessarLogin:hover {
    background-color: #370236;
    transform: scale(1.02);
}

.botaoEsqueceuSenha {
    color: #000000;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.5s;
    margin-bottom: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.botaoEsqueceuSenha:hover {
    text-decoration: underline;
}

/*Página Esqueceu a Senha*/
.containerPaginaRecuperarSenha {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, #410441, #f7e3c8);
}

.formBoxRecuperarSenha {
    flex: 1;
    padding: 40px 40px;
    width: 700px;
}

.tituloFormSenha {
    color: #30072f;
    font-weight: 700;
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
}

.subtitleFormSenha {
    text-align: left;
    color: #666;
    font-size: 18px;
    padding-top: 8px;
    text-align: center;
}

.formEsqueceuSenha {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.labelFormSenha {
    margin-top: 18px;
    margin-left: 2px;
    font-weight: 600;
}

.campoInputSenha {
    padding: 12px;
    border: 1px solid #370b36;
    background-color: #f2f0ef;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    box-shadow: 0 2px 2px rgba(117, 32, 116, 0.3);
}

.campoInputSenha:focus {
    outline: none;
    border-color: #30072f;
}

.botaoLinkRecuperacao {
    margin-top: 16px;
    padding: 12px;
    background-color: #430742;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.5s;
    box-shadow: 0 3px 3px rgba(117, 32, 116, 0.3);
    color: white;
    text-decoration: none;
    text-align: center;
}

.botaoLinkRecuperacao:hover {
    background-color: #370236;
    transform: scale(1.02);
}

.botaoLembrouSenha {
    color: #000000;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.5s;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.botaoLembrouSenha:hover {
    text-decoration: underline;
}

/* Sidebar Lateral*/
.menuLateral {
    width: 260px;
    height: 100vh;
    background-color: #360b33;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.areaLogotipo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}

.logotipoNutriCore {
    margin: 40px 0;
    width: 210px;
    height: auto;
}

nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul.menuLateralPrincipal li,
nav ul.menuLateralSair li {
    margin: 6px 0;
}

nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 12px 20px;
    color: #ffff;
    transition: color 0.5s;
    font-size: 19px;
}

nav ul li a i.bi {
    margin-right: 12px;
    font-size: 20px;
}

nav ul li a:hover {
    color: #ffb464;
}

nav ul.menuSair {
    margin-top: auto;
    padding-bottom: 20px;
}

.cardsResumo {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 40px 60px;
}

.cardInformativo {
    background-color: #30052d;
    border-radius: 8px;
    gap: 10px;
    height: 150px;
    padding: 20px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1 1 100px;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.cardInformativo:hover {
    transform: scale(1.02);
}

.tituloCard {
    font-size: 20px;
    color: #fdf9f9;
    margin: 0 0 4px 0;
    font-weight: 600;
}

.valorNumericoCard {
    font-size: 22px;
    font-weight: 600;
    margin: 4px 2px;
    color: #ffffff;
}

.descricaoCard {
    font-size: 17px;
    color: #fdf9f9;

    margin: 0;
}

/*estilização dos gráficos do dashboard*/
.secaoResumoGrafico {
    background-color: #fff;
    padding: 20px;
    margin: 50px 60px;
    border-radius: 8px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.05);
}

.tituloResumoGrafico {
    font-size: 22px;
    font-weight: bold;
    margin: 16px;
    color: #1b0419;
}

.areaGrafico {
    text-align: center;
}

.areaGrafico img {
    width: 100%;
    max-width: 960px;
    aspect-ratio: 16 / 9;
    object-fit: contain;
    border-radius: 10px;
}

.legendaGrafico {
    font-size: 0.9rem;
    color: #555;
    margin-top: 8px;
}

/*Página Gestão de Produto*/
.cabecalhoGestaoProdutos {
    margin-bottom: 10px;
}

.tituloGestaoProdutos {
    font-size: 26px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #333;
    margin: 40px 0;
}

.areaFiltros {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 60px;
}

.grupoFiltros {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.filtroCategoria {
    display: inline;
    flex-direction: column;
}

.nomeFiltro {
    font-size: 18px;
    color: #1b1a1a;
    margin-bottom: 4px;
}

.caixaSelecao {
    padding: 6px 0;
    border-radius: 4px;
    border: 1px solid #401042;
    font-size: 16px;
}

.botaoAdicionarProduto {
    margin: 20px 0;
    background-color: #0e5110;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background 0.5s;
    gap: 8px;
}

.botaoAdicionarProduto:hover {
    background-color: #073509;
}

.tabelaGestaoProdutos {
    width: 93%;
    justify-content: center;
    align-items: center;
    margin: 30px 55px;
    border-collapse: collapse;
    background-color: #fcfafa;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    overflow: hidden;
}

.containerImagem {
    width: 100px;
    height: 140px;
}

.imagemTabelaProdutos {
    width: auto;
    height: 180px;
}

.tabelaGestaoProdutos th {
    text-align: center;
    padding: 22px 16px;
    vertical-align: middle;
    font-size: 16px;
    gap: 30px;
}

.tabelaGestaoProdutos tr {
    border-bottom: 1px solid #ccc3cc;
    width: 100%;
    margin-bottom: 2px;
}

.tabelaGestaoProdutos td {
    text-align: center;
    padding: 10px 16px;
    font-size: 18px;
}

.tabelaGestaoProdutos th {
    background-color: #360b33;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
}

.imagemProduto {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
}

.colunaAcoesAdmin {
    display: flex;
    margin-top: 36%;
    margin-right: 30px;
    gap: 16px;
}

.botaoAcao {
    color: #360b33;
    font-size: 26px;
    background-color: #f2f0ef;
    border-radius: 60%;
    padding: 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.botaoAcao.visualizarProduto:hover {
    color: #3b0348;
    background-color: #a460d48a;
}

.botaoAcao.editarProduto:hover {
    color: #441c00;
    background-color: #bb8446;
}

.botaoAcao.excluirProduto:hover {
    color: #a30818;
    background-color: #bd272785;
}

/*Página Gerenciamento de pedidos*/
.tituloTabelaPedidos {
    font-size: 26px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #333;
    margin: 40px 0;
}

.secaoTabelaPedidos {
    overflow-x: auto;
}

.tabelaPedidosAdmin {
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 0 78px;
    border-collapse: collapse;
    background-color: #fcfafa;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    overflow: hidden;
}

.tabelaPedidosAdmin th {
    text-align: center;
    padding: 22px 16px;
    border-bottom: 1px solid #e6d7d7;
    vertical-align: middle;
    font-size: 18px;
    gap: 30px;
}

.tabelaPedidosAdmin td {
    text-align: center;
    padding: 22px 16px;
    border-bottom: 1px solid #e6d7d7;
    vertical-align: middle;
    font-size: 18px;
}

.tabelaPedidosAdmin th {
    background-color: #360b33;
    font-weight: 600;
    color: #ffffff;
}

.imagemProdutoPedido {
    border-radius: 10px;
    width: 140px;
    height: auto;
}

.statusEntregueIcone {
    color: #2ecc71;
    font-size: 1.2rem;
}

.statusRotaIcone {
    color: #f18b0f;
    font-size: 1.2rem;
}

.statusPendenteIcone {
    color: #e74c3c;
    font-size: 1.2rem;
}

.rodapePainelPedidos {
    text-align: center;
    margin-top: 3rem;
    font-size: 0.9rem;
    color: #636e72;
}

/*Página Gestão de Clientes*/
.tituloGestaoClientes {
    font-size: 26px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #333;
    margin: 40px 0;
}

.secaoTabelaUsuarios {
    overflow-x: auto;
}

.tabelaGestaoUsuarios {
    width: 92%;
    justify-content: center;
    align-items: center;
    margin: 0 60px;
    border-collapse: collapse;
    background-color: #fcfafa;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    overflow: hidden;
}

.tabelaGestaoUsuarios td,
.tabelaGestaoUsuarios th {
    text-align: center;
    padding: 22px 16px;
    border-bottom: 1px solid #e6d7d7;
    vertical-align: middle;
    font-size: 18px;
}

.tabelaGestaoUsuarios th {
    background-color: #360b33;
    font-weight: 600;
    color: #ffffff;
}

.statusAtivoIcone {
    color: #077225;
    font-size: 18px;
}

.statusInativoIcone {
    color: #c70d0d;
    font-size: 1.2rem;
}

.celulaAcoesUsuario a {
    font-size: 30px;
}

.iconeDesativar {
    color: #c70d0d;
    font-size: 30px;
}

.iconeDesativar:hover {
    color: #6f0a0a;
}

.iconeAtivar {
    color: #077225;
    font-size: 30px;
}

.iconeAtivar:hover {
    color: #074017;
}

/*Página Adicionar Produto*/
.containerAdicionarProduto {
    max-width: 980px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 40px 50px;
    border-radius: 8px;
    border: 3px solid #751b73;
    box-shadow: 0 8px 12px rgb(0 0 0 0.1);
}

.secaoFormularioProduto {
    width: 100%;
}

.secaoFormularioProduto h1 {
    text-align: center;
    color: #490c48;
    margin-bottom: 20px;
    font-size: 26px;
}

.secaoFormularioProduto h2 {
    text-align: left;
    color: #000000;
    margin-bottom: 15px;
}

.campoFormulario {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.campoFormulario label {
    font-weight: 600;
    margin: 5px 3px;
    color: #262525;
    font-size: 17px;
}

.campoFormulario input,
.campoFormulario textarea,
.campoFormulario select {
    padding: 12px;
    border: 1.2px solid #8d8391;
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 10px;
}

.camposAdicionarProduto {
    border-radius: 6px;
    border: 1px solid #8d8391;
    padding: 20px;
    margin-bottom: 20px;
}

#imagemProdutoAdicionar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagemProdutoExemplo {
    width: 220px;
    height: auto;
    margin-top: 10px;
}

.legendaImagemAdicionar {
    font-size: 16px;
    text-align: center;
    color: #555353;
}

#acoesFormulario {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#botaoCancelar,
#botaoAdicionar {
    text-decoration: none;
    padding: 14px 20px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

#botaoAdicionar {
    background-color: #0a3e0c;
    color: white;
}

#botaoAdicionar:hover {
    background-color: #08300a;
}

#botaoCancelar {
    background-color: #900a0a;
    color: white;
}

#botaoCancelar:hover {
    background-color: #680808;
}

/*Página Visualizar Produto*/
.containerVisualizarProduto {
    max-width: 980px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 40px 50px;
    border-radius: 8px;
    border: 3px solid #751b73;
    box-shadow: 0 8px 12px rgb(0 0 0 0.1);
}

#cabecalhoPagina {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#cabecalhoPagina h1 {
    font-size: 30px;
    color: #430c4a;
}

.secaoImagemProduto {
    text-align: center;
    margin-bottom: 2rem;
}

.fotoProdutoPrincipal {
    width: 300px;
    height: auto;
}

#secaoDetalhesProduto {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.5rem;
}

.listaDetalhesProduto {
    margin: 0;
}

.tituloDetalheProduto {
    font-weight: 700;
    font-size: 22px;
    margin-top: 15px;
    color: #430c4a;
}

.valorDetalheProduto {
    margin-left: 0;
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 20px;
    color: #252525;
}

.divisaoVisualizarProduto {
    width: 100%;
    border: 1px solid #ccc3cc;
    margin-bottom: 5px;
}

.containerBotao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.containerBotao a {
    text-decoration: none;
    font-size: 20px;
    color: #0c0c0c;
}

.containerBotao a:hover {
    text-decoration: underline;
}

/*Página Editar Produto*/
.containerEditarProduto {
    max-width: 980px;
    height: auto;
    margin-top: 80px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 40px 50px;
    border-radius: 8px;
    border: 3px solid #751b73;
    box-shadow: 0 8px 12px rgb(0 0 0 0.1);
}

.tituloEdicaoProduto {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    color: #430c4a;
}

.secaoProdutoEdicao {
    text-align: center;
    margin-bottom: 2rem;
}

.imagemProdutoEdicao {
    width: 300px;
    height: auto;
}

.legendaProdutoEdicao {
    font-size: 16px;
    color: #4f4c4c;
    margin-top: 12px;
}

.secaoFormEdicao {
    flex-direction: column;
    display: flex;
    margin: 0 auto;
}

.formularioEdicao {
    flex-direction: column;
    display: flex;
}

.labelFormEdicao {
    margin-top: 25px;
    font-weight: 700;
    font-size: 18px;
    color: #2a0529;
}

.inputFormEdicao {
    padding: 14px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #c1bebe;
    margin-top: 10px;
}

.formularioEdicao textarea {
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #c1bebe;
    margin-top: 0.3rem;
}

.botoesFormEdicao {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.botaoSalvarEdicao,
.botaoCancelarEdicao {
    padding: 12px 18px;
    font-size: 18px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    border: none;
    cursor: pointer;
}

.botaoSalvarEdicao {
    background-color: #0e5110;
    color: white;
}

.botaoSalvarEdicao:hover {
    background-color: #073509;
}

.botaoCancelarEdicao {
    background-color: #870d0d;
    color: white;
}

.botaoCancelarEdicao:hover {
    background-color: #630909;
    color: white;
}

/*Página Desativar Usuário*/
.backgroundUsuarioAtivado {
    display: flex;
    margin: 0 auto;
    background: linear-gradient(to top, #5c2e5c, #f7e3c8);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
}

.cardUsuarioAtivado {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    padding: 60px;
    max-width: 620px;
    height: auto;
    width: 100%;
    text-align: center;
}

.iconeUsuarioAtivado {
    font-size: 70px;
    color: #216e19e3;
}

.cardUsuarioAtivado h2 {
    font-size: 30px;
    margin: 16px;
    color: #333;
}

.cardUsuarioAtivado p {
    font-size: 18px;
    color: #4a4747;
    margin-bottom: 2rem;
}

.botaoRetornarGestao {
    display: inline-block;
    padding: 12px 18px;
    background-color: #4a0849;
    font-size: 18px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.botaoRetornarGestao:hover {
    background-color: #370332;
}

/*Página Usuário Ativado*/
.backgroundUsuarioDesativado {
    display: flex;
    margin: 0 auto;
    background: linear-gradient(to top, #5c2e5c, #f7e3c8);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
}

.cardUsuarioDesativado {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    padding: 60px;
    max-width: 620px;
    height: auto;
    width: 100%;
    text-align: center;
}

.iconeUsuarioDesativado {
    font-size: 70px;
    color: #d20505e3;
}

.cardUsuarioDesativado h2 {
    font-size: 30px;
    margin: 16px;
    color: #333;
}

.cardUsuarioDesativado p {
    font-size: 18px;
    color: #4a4747;
    margin-bottom: 2rem;
}

.botaoRetornarGestao {
    display: inline-block;
    padding: 12px 18px;
    background-color: #4a0849;
    font-size: 18px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.botaoRetornarGestao:hover {
    background-color: #370332;
}
