*{
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    text-align: center;
    margin-top: 60px;
}

table{
    border-radius: 4px;
    border-collapse: collapse;
}

.dataframe{
    background-color: rgb(249, 255, 255);
    width: 800px;
    height: 700px;
    border: 1px solid #575656d3;
}

tbody{
    text-align: center;
}

th{
    height: 70px;
}

td{
    height: 40px;
}

/*JavaScript*/
.td-valor-0{
    background-color: #a70909d3;
}
.td-valor-1{
    background-color: #a70909d3;
}

.td-valor-2{
    background-color: #e4be16;
}

.td-valor-3{
    background-color: #578f03;
}